@model IEnumerable<WebApp.Models.Landmark>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h3 class="display-6">Landmark List</h3>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Landmark</th>
                <th class="text-center">State Name</th>
                <th class="text-center">Location</th>
                <th class="text-center">Description</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var state in Model)
            {
                <tr>
                   @*  <td class="text-center">@landmark.StateName</td>
                    <td>
                        <a asp-action="Details" asp-route-stateName="@landmark.LandmarkName" class="btn btn-link">
                            @landmark.LandmarkName
                        </a>
                    </td>
                    <td class="text-center">@landmark.location</td>
                    <td class="text-center">@landmark.Description</td> *@
                    <td class="text-center">
                        <!-- Trigger Modals -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#patchModal">Patch</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>