@* @model WebApp.Models.State

@{
    ViewData["Title"] = "EditedDetails";
}

<h3 class="display-6">State Details </h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            State Name:
        </dt>
        <dd class="col-sm-10">
            @Model.StateName
        </dd>

        <dt class="col-sm-2">
            Abbreviation:
        </dt>
        <dd class="col-sm-10">
            @Model.Abbreviation
        </dd>

        <dt class="col-sm-2">
            Capital:
        </dt>
        <dd class="col-sm-10">
            @Model.Capital
        </dd>

        <dt class="col-sm-2">
            Population (2022-23):
        </dt>
        <dd class="col-sm-10">
            @Model.Population
        </dd>

        <dt class="col-sm-2">
            Total Area:
        </dt>
        <dd class="col-sm-10">
            @Model.Area mi<sup>2</sup>
        </dd>

        <dt class="col-sm-2">
            Region:
        </dt>
        <dd class="col-sm-10">
            @Model.Region
        </dd>

        <dt class="col-sm-2">
            Time Zones:
        </dt>
        <dd class="col-sm-10">
            @foreach (string timeZone in @Model.TimeZones)
            {
                <p>@timeZone</p>
            }
        </dd>

        <dt class="col-sm-2">
            Flag:
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.FlagUrl" alt="@Model.StateName flag" width="100" height="auto">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StateName">Edit Details</a>  |

    <a asp-controller="Home" asp-action="Index">Home</a>
</div>

 *@